* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(246, 243, 243);
    max-width: 1424px;
    font-family: 'Courier New', Courier, ;
   
}
header{
    max-width: 1424px;
   padding: 4rem;
    display:flex;
}
h2 {
    border-bottom:50px ;
}

ul{
    list-style-type: none;
    justify-content: space-between;
    display: flex;
    margin-left: 15rem;
}
a{
    text-decoration: none;
}
